.home-page {
    margin: 60px auto;

    h2 {
        font-size: 2em;
        text-wrap: pretty;
    }
    p{
        text-wrap: balance;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    picture {

        img,
        source {
            border-radius: 50%;
            width: 300px;
            object-fit: cover;
            margin: 0 auto;
            display: block;
        }
    }

    p {
        margin: calc(1em + 1ex) 0;
        line-height: calc(1em + 1ex);
        font-size: 1.3em;
    }

    .intro-text {
        max-width: 720px;
        margin: 0 auto;
    }

    .get-started {
        text-decoration: none;
        font-size: 1.5em;
        color: var(--accent-color);
        font-weight: 900;
        transition: all 0.3s linear;
        .chapter-title{
            border-bottom: 5px solid;
        }
        &:hover{
            color: var(--accent-color-darker);
        }
    }
}