body {
    font-family: Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.header{
    display: flex;
    padding: 25px 0 10px;
    font-weight: 900;
    color: #303030;
    align-items: center;
    text-decoration: none;
    justify-content: center;

    svg{
        margin: 0 10px;
        height: 65px;
        align-self: center;
    }

}
.title{
    text-transform: uppercase;
    margin: 0;
    font-size: 1.34em;
    word-spacing: -0.05em;
    letter-spacing: -0.05em;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

