:root {
    --primary-text: #333;
    --secondary-text: #666;
    --background: #fff;
    --accent-color: #1566bd;
    --accent-color-darker: #054487;
    --blockquote-border: #e5e7eb;
    --image-border: #f1f1f1;
    --line-height: 1.6;
    --paragraph-spacing: 1.5em;
}

/* Optional dark mode */
:root.dark {
    --primary-text: #e5e7eb;
    --secondary-text: #9ca3af;
    --background: #1a1a1a;
    --blockquote-border: #374151;
    --image-border: #374151;
    --accent-color: #4595eb;
    --accent-color-darker: #2573c7;

    .book-content{
        img{
            filter: invert(1) hue-rotate(180deg);
        } 
    }
}

body {
    font-family: Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: var(--primary-text);
    background-color: var(--background);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    padding: 2rem 1rem 0;
}

@media (max-width: 768px) {
    body{
        padding: 1rem;
    }
}
